$menuHeight: 60px;

$idGreen: #A6C541;
$idGreenDarker: #7B9038;
$idRed: #BE4157;

$phone-upper-boundary: 600px;
$tablet-portrait-upper-boundary: 900px;
$tablet-landscape-upper-boundary: 1200px;
$desktop-upper-boundary: 1800px;